.container{
    width: 90%;
    margin: auto;
  

}
.left{
    width: 50%;
    padding:40px 20px;
}
.right{
    width: 50%;
}
.hero{
    padding: 140px 10px;

    height: 60vh;
}
.btn:hover{
    background-color: red;

}
.btn{
    padding:8px 50px;
    background-color:#3f00ff;

    border:none;
    color:white;border-radius:5px;

}
